*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #cc9966
}



header{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #cc9966;
}
header #background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(desert.jpg);
}
#background{
  text-align: center;
  font-size: 3em;
}
header h1{
  padding-top: 70px;
}



.profile{
  padding: 100px;
  color:#fff;
}
.profile h1{
  font-size:  3em;
  padding-bottom: 10px;
}
.profile p{
  font-size:  1.2em;
    text-align: justify;
}
.pfp{
  float: left;
  margin-right: 25px;
  width: 350px;
  box-shadow: 1px 1px 7px black;
}




.samplegrid{
display: grid;
grid-template-columns: 50% 50%;
justify-content: center;
align-content: center;
background: #d79e52;
}



.grid1{
background: #d79e52;
color: white;
padding: 15px;
}

.grid2{
background: #d88145;
color: white;
padding: 15px;
}
.background2{
  background: #d88145;
}



.fishpreview{
position: relative;
}

.trdpreview{
  position: relative;
}



/* make the images zoom out to appear clickable */
.fishpreview:hover{
  transition: .7s;
  transform: scale(.95);
  box-shadow: 2px 2px 5px black;
}
.trdpreview:hover{
transition: .7s;
transform: scale(.95);
box-shadow: -2px 2px 5px black;
}



/* make the overlay activate on hover */
.trdpreview:hover .trdoverlay {
  width: 100%;
  left: 0;
}

.fishpreview:hover .fishoverlay {
  width: 100%;
}



/* sliding overlay over image */
.fishoverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 85%;
  background-color: #351b10;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.trdoverlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #351b10;
  opacity: 85%;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}



/* text on the overlay */
.fishtext{
  color: white;
  font-size: 2.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.trdtext {
  color: white;
  font-size:   2.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;

}



footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  background-color: #b35f25;
}
footer a:hover{
  color: blue;
}
footer a{
  text-decoration: none;
  color: white;
}



/* responsive changes*/
@media screen and (max-width: 768px) {

  /*stack grids */
.samplegrid{
  grid-template-columns: 1fr;
}

.grid2{
    min-height: 40vh;
}
.grid1{
  min-height: 40vh;
}
footer{
  grid-template-columns: 1fr;
}
/* re-order footer */
footer h2{
  order: -1;
}

/* less dramatic margins for smaller screens */
.profile{
  padding-right: 50px;
  padding-left: 50px;
}

.pfp{
  float: none;
  margin: auto;
}
}
